/*-- scss:defaults --*/
/* Custom typography & subtle color accents */
body {
  font-family: 'Playfair Display', Georgia, serif;
  background-color: #faf9f6;
  color: #6290bd;
}

.navbar {
  background-color: #5a6b5c !important; /* Elegant sage green */
}

.hero-title {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  color: #c39717;
  line-height: 1.1; /* Reduce el espacio entre líneas */
}

.hero-subtitle {
  text-align: center;
  font-style: italic;
  font-size: 1.1rem;
  color: #7f8c8d;
  margin-bottom: 1rem;
}

.countdown-box {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 0rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  margin: 1rem 0;
}

